.container-CardProfileSearch {
    width: 95%;
    margin: 2rem 0 2rem 2rem;
    border-radius: 1rem;
}

.container-CardProfileSearch-listResultSearch {
    position: relative;
    display: flex;
    border: 0.3rem solid lightblue;
    border-radius: 1rem;
    gap: 1rem;
    margin-top: 2rem;
}

.container-CardProfileSearch-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
}

.container-CardProfileSearch img {
    width: 18rem;
    height: 18rem;
    border-radius: 1rem 0 0 1rem;
}

.container-CardProfileSearch-description h1 {
    padding: 1rem 0 1rem 0;
    color: rgb(190, 32, 107);
}

.container-CardProfileSearch-description-detail {
    display: flex;
}

.container-CardProfileSearch-description-detail p {
    padding: 0 1rem 0 1rem;
    border-right: 0.3rem solid rgba(0, 0, 0, 0.537);
}

#container-CardProfileSearch-description-detail-p {
    border-right: none;
}

@media (max-width:730px) {
    .container-CardProfileSearch {
        height: 15.5rem;
    }

    .container-CardProfileSearch img {
        width: 15rem;
        height: 15rem;
    }

    .container-CardProfileSearch-description {
        font-size: xx-small;
        text-align: justify;
    }

}

@media (max-width:530px) {
    .container-CardProfileSearch {
        height: 14rem;
    }

    .container-CardProfileSearch img {
        width: 12rem;
        height: 12rem;
    }
}