.container-categories {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 6rem);
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
}

.container-categories-container-back-page {
    /* display: none; */
    display: flex;
    width: 100%;
    padding-left: 1rem;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.container-categories-container-back-page:hover {
    color: blue;
}

.container-categories-cardProfile {
    min-height: calc(100vh - 24rem);

}