.container-navBar {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100vw;
    height: 6rem;
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}

.container-link {
    display: flex;
    gap: 1rem;
}