.container-pageCard {}

.container-pageCard-image {
    border-bottom: 0.1rem solid lightgray;
}

.container-pageCard-image img {
    width: 25rem;
    height: 25rem;
}

.container-pageCard-button {
    display: flex;
    gap: 1rem;
}