.container-sign-up {
    width: 100%;
    height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-sign-up form .container-sign-up-input-login {
    width: 100%;

}

.container-back-page {
    width: 100%;
    margin: 2rem 0 2rem 0;
    padding-left: 1.5rem;
}

.container-sign-up h1 {
    color: black;
}

.container-sign-up-input-login {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
    margin-top: 5rem;
}

.container-sign-up-input-login input {
    width: 100%;
    height: 5.1rem;
    left: 12.3rem;
    top: 30.8rem;
    padding: 1rem;
    font-size: larger;
    background: #FDFAFA;
    border-radius: 0.8rem;
    border: 0.1rem solid #E8E8E8;
}

#inputConfirmedPasswordProfessional {
    position: absolute;
    bottom: 1.1rem;
    right: 1.5rem;
}

#inputPasswordProfessional {
    position: absolute;
    top: 8.6rem;
    right: 1.5rem;
}

.container-sign-up-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sign-up-rules-password {
    display: flex;
    width: 35rem;
    height: 13rem;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    padding-left: 2rem;
    background-color: rgb(243, 237, 237);
    gap: 1rem;
    border-radius: 0.8rem;
}

.container-sign-up-rules-password img {
    width: 1rem;
}

.container-sign-up-terms-and-conditions {
    display: flex;
    flex-direction: column;
    width: 33rem;
    padding: 0.5rem;
    gap: 1rem;
}

.container-sign-up-terms-and-conditions p {
    text-align: justify;
}

.container-sign-up-input-login-hCaptcha {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1.5rem;
    width: 30rem;
    height: 6rem;
    background-color: rgb(244, 238, 238);
    border-radius: 0.3rem;
}

.container-sign-up-relemberPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container-sign-up form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.container-sign-up form button {
    height: 5rem;
    width: 37.5rem;
    background: #04C45C;
    border-radius: 8px;
}

.container-sign-up footer {
    border-top: 1px solid lightgray;
}