* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

button {
    cursor: pointer;

}

button:hover {
    opacity: 0.7;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 4rem 0 4rem 0;
    font-size: 1.2rem;
    padding-top: 2rem;
}

footer a {
    text-decoration: none;
    border-right: 0.1rem solid rgb(148, 138, 138);
    padding: 0 1rem 0 1rem;
}

.link {
    text-decoration: none;
    color: #000;
}