.container-initial {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-initial h1 {
    color: black;
}

.container-initial-title {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    justify-content: center;
    text-align: center;
}

.container-initial-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    justify-content: center;
    gap: 2rem;
}

.container-initial-information p {
    display: flex;
    text-align: justify;
    color: rgb(72, 72, 72);
    padding: 5rem 0 5rem 0;
    max-width: 80vw;
    border-bottom: 0.27rem solid lightgray;
}



#end {
    border-right: none;

}